
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

nav {
    background-color: white;
}
nav > div > a {
    font-weight: 700;
    font-size: 1.2rem;
}
nav > ul > li > a {
    font-weight: bold;
}

nav > .mobile-bars {
    display: none;
}

.mobile-nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 200;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
}
.mobile-nav-menu > div {
    padding: 25px;
    margin-left: auto;
    margin-bottom: 100px;
}

.mobile-nav-menu > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}
.mobile-nav-menu > ul > li {
    margin: 25px 0;
    font-size: 1.4rem;
    font-weight: bold;
}



section {
    height: 100vh;
}

#home {
    padding: 7rem 0;
}

#home > .container {
    max-width: 1070px;  
    padding: 0 4rem;
}
.hero-text {
    width: 100%;
    max-width: 700px;
}
.hero-text > h1 {
    max-width: 680px;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 15px;
}
.hero-text > p {
    letter-spacing: 2.5px;
    line-height: 1.5;
    margin-bottom: 45px;
    opacity: 0.85;
        
}


.hero-img > img{
    width: 100%;
    height: auto;
    padding-top: 15px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 5px solid black;
    background-color: #ffe6a7;
}

.skills > p {
    letter-spacing: 1px;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.hide {
    margin-left: -100%;
}

/* media query */

@media screen and (max-width: 500px) {
    .container {
        padding: 0  !important;
        margin-left: -20px;
    }
    .hero-text > h1 {
        width: 375px;
        font-size: 2rem !important;
    }
    .hero-text > p {
        width: 370px;
        font-size: 1.1rem;
        padding: 0 1.2rem;
        margin-left: 15px;
    }
    .hero-img {
        width: 230px;
        height: 230px;
    }
    .socials {
        margin-left: 30px;
    }
}

@media screen and (min-width: 501px) {
    .hero-img {
        width: 340px;
        height: 340px;
    }
}

@media screen and (max-width: 1060px) {
    nav > .nav-links {
        display: none;
    }
    nav > .mobile-bars {
        display: block;
    }

    section {
        height: auto;
    }
    #home {
        padding: 2rem 0;
    }
    #home > .container {
        padding: 0 4rem;
    }
    .hero-main {
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        text-align: center;        
    }
    .hero-img {
        order: 1;
    }
    .socials {
        justify-content: center;
    }
    .skills {
        flex-direction: column;
        justify-content: center;
        gap: 1.3rem;
    }
    .skills > p {
            border-right: 0;
            padding: 0;
            margin: 0;
            padding-bottom: 0.8rem;
            border-bottom: 2px solid rgba(0, 0, 0, 0.5);;
    }
    .skills > ul {
        width: 100%;
        justify-content: center;
        gap: 15px;
    }
    .skills > ul > li {
        margin: 0;
    }
}


@media screen and (min-width: 501px) and (max-width: 1060px) {
    .container {
        padding: 0 5rem !important;
    }
    .hero-text > h1 {
            max-width: 470px;
            font-size: 2.2rem !important;
    }
    .hero-text > p {
            max-width: 470px;
            padding-right: 0;
            font-size: 1.35rem !important;
    }
}