
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

nav {
    background-color: white;
    z-index: 200;
}
nav > div > a {
    font-weight: 700;
    font-size: 1.2rem;
}
nav > ul > li > a {
    font-weight: bold;
}

nav > .mobile-bars {
    display: none;
}

.mobile-nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 200;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
}
.mobile-nav-menu > div {
    padding: 25px;
    margin-left: auto;
    margin-bottom: 100px;
}

.mobile-nav-menu > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}
.mobile-nav-menu > ul > li {
    margin: 25px 0;
    font-size: 1.4rem;
    font-weight: bold;
}



section {
    height: 100vh;
    padding: 4rem 0;
    padding-bottom: 0;
    overflow-y: hidden;
}

section > .container, .container {
    max-width: 1070px;  
    padding: 0 4rem;
}
.hero-text {
    width: 100%;
    max-width: 700px;
}
.hero-text > h1 {
    max-width: 680px;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 15px;
}
.hero-text > p {
    letter-spacing: 2.5px;
    line-height: 1.5;
    margin-bottom: 45px;
    opacity: 0.85;
        
}

.hero-img > img{
    width: 100%;
    height: auto;
    padding-top: 15px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 5px solid black;
    background-color: #ffe6a7;
}

.socials > a, .nav-links > a {
    transition: .3s ease-in-out;
}

.socials > a:hover, .nav-links > li:hover {
    color: #0066ff;
}

.skills > p {
    letter-spacing: 1px;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

#about > .container {
    height: 400px;
}

.about-img {
    width: 45%;
}

.about-img > img {
    width: 100%;
    height: auto;
}

.about-text {
    width: 45%;
}

.about-text > #about_me {
    color: #0066ff;
    border-bottom: 4px solid #0066ff;
}

.about-text > p {
    opacity: 0.85;
}

.hide {
    margin-left: -100%;
}

#projects, #contact {
    height: auto;
    padding: 100px 0;
}

#projects > .container > h3 {
    margin-bottom: 60px;
}

#projects > .container > p {
    color: #0066ff;
}

.proj-lists {
    height: 400px;
}

.proj-img {
    width: 520px;
    height: 360px;
}

.proj-img > img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.proj-text {
    width: 310px;
    height: auto;
}

.proj-text > h3 {
    margin-bottom: 20px;
}

.proj-ref > a {
    cursor: pointer;
    transition: .3s ease-in-out;
}

.proj-ref > a:hover {
    color: #0066ff;
}

.highlight {
    color: #0066ff;
}

footer {
    padding: 50px 0;
    background-color: #2d2e32;
    color: white;
}
.footer-content {
    max-width: 1070px;
}
.footer-socials > a {
    transition: all .2s ease-in-out;
}
.footer-socials > a:hover {
    color: #0066ff;
}


/* media query */
@media screen and (min-width: 501px) {
    .hero-img {
        width: 340px;
        height: 340px;
    }
}

@media screen and (max-width: 1060px) {
    nav > .nav-links {
        display: none;
    }
    nav > .mobile-bars {
        display: block;
    }

    section {
        height: auto;
        padding: 2rem 0;
    }
    section > .container {
        padding: 0 4rem;
    }
    .hero-main {
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        text-align: center;        
    }
    .hero-img {
        order: 1;
    }
    .socials {
        justify-content: center;
    }
    .skills {
        flex-direction: column;
        justify-content: center;
        gap: 1.3rem;
    }
    .skills > p {
            border-right: 0;
            padding: 0;
            margin: 0;
            padding-bottom: 0.8rem;
            border-bottom: 2px solid rgba(0, 0, 0, 0.5);;
    }
    .skills > ul {
        width: 100%;
        justify-content: center;
        gap: 15px;
    }
    .skills > ul > li {
        margin: 0;
    }

    #about > .container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        height: auto;
    }

    .about-img {
        width: 100%;
        max-width: 400px;
        height: 350px;
    }

    .about-text {
        width: 100%;
        max-width: 550px;
        text-align: center;
    }

    .about-text > #about_me {
        margin-bottom: 20px;
    }

    #projects > .container {
        margin: 0px;
        padding: 0 20px !important;
        text-align: center;
    }

    #projects > .container > p {
        font-size: 1rem;
    }

    #projects > .container > h3 {
        font-size: 1.25rem;
    }

    .all-projects {
        align-items: center;
    }

    .proj-lists {
        width: 100%;
        max-width: 570px;
        height: auto;
        flex-direction: column !important;
        gap: 20px;
        padding: 3rem 0 !important;
    }

    .proj-lists:nth-child(even) {
        flex-direction: column;
    }

    .proj-img {
        width: 100%;
        height: auto;
        padding: 0 20px;
    }
}

/* animation on scrolling */

.skill-animate:nth-child(2) {
    transition-delay: 150ms;
}
.skill-animate:nth-child(3) {
    transition-delay: 300ms;
}
.skill-animate:nth-child(4) {
    transition-delay: 450ms;
}
.skill-animate:nth-child(5) {
    transition-delay: 600ms;
}

.animate-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.animate-hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.animate-show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media screen and (max-width: 700px) {
    footer {
        text-align: center;
    }
    .footer-content {
        flex-direction: column;
        gap: 20px;
        margin: 0 !important;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0  !important;
        margin-left: -20px;
    }
    .hero-text > h1 {
        width: 375px;
        font-size: 2rem !important;
    }
    .hero-text > p {
        width: 370px;
        font-size: 1.1rem;
        padding: 0 1.2rem;
        margin-left: 15px;
    }
    .hero-img {
        width: 230px;
        height: 230px;
    }
    .socials {
        margin-left: 30px;
    }
    .about-img {
        width: 250px;
        height: 250px;
    }
    #about_me {
        font-size: large;
    }
    .about-text > p {
        padding: 0 50px;
    }
}

@media screen and (min-width: 501px) and (max-width: 1060px) {
    .container {
        padding: 0 5rem !important;
    }
    .hero-text > h1 {
            max-width: 470px;
            font-size: 2.2rem !important;
    }
    .hero-text > p {
            max-width: 470px;
            padding-right: 0;
            font-size: 1.35rem !important;
    }
}

@media screen and (max-width: 768px) {
    .contact-content {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-text {
        text-align: center;
    }
    .contact-info {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .contact-info > div {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
}
